<h1>Display your Pirate here</h1>
<%= "Name: #{@p.name} + Height: #{@p.height} + Weight: #{@p.weight}" %>


<h2>Display your first ship here</h2>
<%= "Name: #{@s1.name} + Height: #{@s1.type} + Weight: #{@s1.booty}" %>

<h2>Display your second ship here</h2>
<%= "Name: #{@s2.name} + Height: #{@s2.type} + Weight: #{@s2.booty}" %>